@font-face {
    font-family: 'Flame_Regular';
    src: url('/fonts/Flame_Regular.woff') format('woff'),
        url('/fonts/Flame_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flame_Bold';
    src: url('/fonts/Flame_Bold.woff') format('woff'),
        url('/fonts/Flame_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Flame_Regular", sans-serif;
    overflow: hidden;
    color: #502314;

    .background {
        position: absolute;
        background-color: #f5ebdc;
        height: 100dvh;
        width: 100dvw;
        z-index: -1;
    }
}

.agotado {
    #prize {
        display: none !important;
    }

    .modal-qr {
        display: none !important;
    }

    .prize-text {
        display: none !important;
    }
}

img {
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3vw;
    width: 15vw;
    max-width: 160px;
}

.count-btn {
    appearance: none;
    border: none;
    pointer-events: auto !important;
    background: transparent;
    position: absolute;
    height: 7vh;
    width: 7vh;
}

.title {
    margin: 20px;
    text-align: center;
    display: flex;
    gap: 4vh;
    flex-direction: column;
    max-width: 550px;
    width: 25vh;
    height: 15vh;
    justify-content: flex-end;
}

.logo_title {
    width: 25vh;
    z-index: 12;
    pointer-events: none;
}

.subtitle {
    font-family: "Flame_Bold", sans-serif;
    font-size: 3vh;
    line-height: 3.2vh;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

#debug {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 24px;
    color: #ababab;
    text-align: center;
    z-index: 1000;
}

.wheel-container {
    width: 100vw;
    height: 100vw;
    min-width: 400px;
    min-height: 400px;
    max-width: 55vh;
    max-height: 55vh;
    align-items: center;
    position: relative;
    // overflow: hidden;
    flex: 0 0 auto;

    .wheel-touchzone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #wheel {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
        will-change: transform;
    }

    #wheel,
    #shadow {
        pointer-events: none;
        position: absolute;
        width: 90%;
        height: auto;
    }

    #shadow {
        width: 100%;
        opacity: 0.3;
    }

    .arrow {
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        width: 6%;
        z-index: 3;
        transform: translateY(-2vh);
    }
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-14vh * 12))
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.7vh;
    line-height: 3vh;
    text-align: center;
    width: 60vw;
    font-family: "Flame_Bold", sans-serif;
    text-transform: uppercase;
}

.floater {
    position: absolute;
    width: 12vh;
    height: auto;
    will-change: transform;
    animation: wiggle 0.5s linear infinite;
    z-index: 3;
    pointer-events: none;

    &#fire {
        bottom: 1vh;
        left: 4vw;
        animation-delay: 0s;
    }

    &#heart {
        right: 6vw;
        top: 1vh;
        animation-delay: 0.2s;
    }

    &#prize {
        right: 12vw;
        bottom: 20vh;
        animation-delay: 0.4s;
    }

    &#star {
        right: 12vw;
        bottom: 18vh;
        animation-delay: 0.4s;
    }

    &#icecream {
        left: 12vw;
        bottom: 9vh;
        animation-delay: 0.4s;
    }

    &#crown {
        right: 20vw;
        top: 18vh;
        animation-delay: 0.4s;
    }

    &#cloud {
        left: 6vw;
        top: 1vh;
        animation-delay: 0.4s;
    }

    &#icon-1 {
        left: 6vw;
        bottom: 1vh;
        animation-delay: 0.4s;
    }

    &#icon-2 {
        right: 6vw;
        top: 15vh;
        animation-delay: 0.4s;
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    pointer-events: auto;
    background-color: #f5ebdc;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    &.correct {
        background-color: #198737;
    }

    &.incorrect {
        background-color: #d62300;
    }

    &.isVisible {
        display: flex;

        .modal-container.active {
            animation: fadeInUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }

        .modal-title {
            will-change: transform;
            animation: bounce2 0.4s cubic-bezier(0.48, 0.56, 0.25, 1.68) forwards;
        }

        @for $i from 1 through 2 {
            .answer-button:nth-child(#{$i}n) {
                will-change: transform opacity;
                animation: fadeInScale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
                animation-delay: #{calc($i / 8) + 0.3}s;
            }
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(500px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInScale {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes bounce1 {
        0% {
            opacity: 0;
            transform: translateY(100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes bounce2 {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-66%);
        }
    }

    .modal-close {
        position: absolute;
        top: 1vh;
        right: 1vw;
        align-self: flex-end;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        height: 5vh;
        width: 5vh;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='rgb(255,170,0)' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
        background-size: 100%;
        z-index: 11;
    }

    .modal-container {
        will-change: transform opacity;
        opacity: 0;
        transform: translateY(500px);
        position: relative;

        &.shake {
            animation: wiggle 0.2s ease-in-out forwards;
            opacity: 1;
        }

        .modal-content {
            padding: 2vh;
            width: calc(100% - 4vh);
            display: flex;
            flex-direction: column;

            .modal-header {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                height: 7vh;

                .modal-title {
                    max-width: 65%;
                }

                .modal-icons {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    height: 100%;
                }

                .modal-icon-1,
                .modal-icon-2 {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .modal-message {
            .modal-question {
                font-size: 3.7vh;
                line-height: 4vh;
                font-family: "Flame_Bold", sans-serif;
                text-transform: uppercase;
                margin: 1.5vh 0 1vh 0;
                text-align: center;
            }
        }

        .modal-wrapper {
            width: 80%;
            height: 90vh;
            margin: 0 auto;
            gap: 4vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2.7vh;
            line-height: 3vh;
            color: #f5ebdc;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Flame_Bold", sans-serif;

            .modal-text {
                width: 100%;
                letter-spacing: 0.1vh;
            }

            .modal-response {
                display: block;
                font-size: 2.4vh;
                line-height: 3vh;
                font-family: "Flame_Regular", sans-serif;
            }

            .modal-prize {
                max-width: 70%;
                max-height: 70%;
                height: auto;
                width: auto;
            }

            .modal-qr {
                width: 10vh;
                height: auto;
                position: absolute;
                bottom: 6vh;
            }
        }
    }

    .modal-answers {
        display: flex;
        width: 92vw;
        max-width: 55vh;
        align-items: flex-start;
        align-content: flex-start;
        gap: 4vh;
        flex-wrap: wrap;
        margin-top: 2vh;
        justify-content: center;

        .answer-button {
            transform: scale(0);
        }

        .answer-button:nth-child(1) {
            background: #d62300;

            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #ae2c12;
            }
        }

        .answer-button:nth-child(2) {
            background: #198737;

            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #157930;
            }
        }

        button {
            display: flex;
            padding: 2.2vh 2vh;
            width: 8vh;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 200px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 16px 32px -8px rgba(0, 0, 0, 0.20);
            color: #f5ebdc;
            text-align: center;
            font-size: 2.5vh;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            border: none;
            pointer-events: auto;
            font-family: "Flame_Regular", sans-serif;
        }
    }
}