html {
    height: 100%;
    overflow: hidden
}

body {
    height: 100dvh;
    width: 100dvw;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial;
    overflow: hidden;

    .background {
        position: absolute;
        background-color: rgba(1, 94, 184, 1);
        background-image: url('/assets/background.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .people {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: none;
        z-index: 5;
    }
}

img {
    width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3vw;
    width: 15vw;
    max-width: 160px;
}

.title {
    margin: 20px;
    text-align: center;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    max-width: 500px;
    width: 25vh;
    height: 20vh;
}

.subtitle {
    font-size: 1.7vh;
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#debug {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 24px;
    color: #ababab;
    text-align: center;
    z-index: 1000;
}

.wheel-container {
    width: 100vw;
    height: 100vw;
    min-width: 400px;
    min-height: 400px;
    max-width: 55vh;
    max-height: 55vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;

    .wheel-touchzone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        pointer-events: auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #wheel {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
    }

    #wheel,
    #shadow {
        pointer-events: none;
        position: absolute;
        width: 96%;
        height: auto;
        will-change: transform;
    }

    .arrow {
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        width: 9%;
        z-index: 3;
    }
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-14vh * 12))
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.carousel {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;

    .carousel-inner {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        min-width: calc(14vh * 12);
        justify-content: space-evenly;
        align-items: center;
    }

    @for $i from 0 through 12 {
        .carousel-item:nth-child(#{$i}n) {
            animation: wiggle 0.7s linear infinite;
            animation-delay: #{$i * 0.1}s;
        }
    }
}

.bubble {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    width: 40vw;
    max-width: 30vh;
    z-index: 5;

    .bubble-text {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: clamp(13px, 3vw, 1.7vh);
        color: black;
        pointer-events: none;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    pointer-events: auto;
    background-color: rgba(0, 10, 31, 0.6);
    backdrop-filter: blur(20px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    &.isVisible {
        display: flex;

        .modal-container.active{
            animation: fadeInUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }

        .modal-close {
            animation: bounce1 0.4s cubic-bezier(0.48, 0.56, 0.21, 1.45) 0.1s forwards;
        }

        .modal-title {
            animation: bounce2 0.4s cubic-bezier(0.48, 0.56, 0.25, 1.68) forwards;
        }

        @for $i from 1 through 2 {
            .answer-button:nth-child(#{$i}n) {
                animation: fadeInScale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
                animation-delay: #{calc($i / 8) + 0.3}s;
            }
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(500px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInScale {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes bounce1 {
        0% {
            transform: translateY(100px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes bounce2 {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-66%);
        }
    }

    @keyframes bounce2 {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-66%);
        }
    }

    .modal-container {
        opacity: 0;
        transform: translateY(500px);
        border-radius: 2.2vh;
        background: #FFF;
        color: black;
        width: 92vw;
        max-width: 55vh;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 16px 32px -8px rgba(0, 0, 0, 0.20);
        display: flex;
        flex-direction: column;
        position: relative;

        &.shake {
            animation: wiggle 0.2s ease-in-out forwards;
            opacity: 1;
        }

        .modal-close {
            position: absolute;
            top: -3.5vh;
            right: 0;
            align-self: flex-end;
            background: none;
            border: none;
            cursor: pointer;
            color: white;
            height: 3vh;
            width: 3vh;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='white' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
            background-size: 100%;
        }

        .modal-content {
            padding: 2vh;
            width: calc(100% - 4vh);
            display: flex;
            flex-direction: column;

            .modal-header {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                height: 7vh;

                .modal-title {
                    max-width: 65%;
                }

                .modal-icons {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    height: 100%;
                }

                .modal-icon-1,
                .modal-icon-2 {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .modal-message {
            margin-top: 2vh;

            .modal-subtitle {
                font-size: 1.3vh;
                font-weight: bold;
                text-transform: uppercase;
                opacity: 0.5;
            }

            .modal-question {
                font-size: 2.5vh;
                line-height: 3vh;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1.5vh 0 1vh 0;
            }
        }

        .modal-wrapper {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.4vh;
            line-height: 1.8vh;
            color: #015EB8;
            text-align: center;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1vh;


            .modal-prize {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
            }
        }
    }

    .modal-answers {
        display: flex;
        width: 92vw;
        max-width: 55vh;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2vh;
        flex-wrap: wrap;
        margin-top: 2vh;

        .answer-button {
            transform: scale(0);
        }

        button {
            display: flex;
            flex: 1;
            padding: 1.5vh 3vh;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            border-radius: 200px;
            background: #07ACED;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 16px 32px -8px rgba(0, 0, 0, 0.20);
            color: #FFF;
            text-align: center;
            font-size: 1.7vh;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            border: none;
            pointer-events: auto;

            &:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #07ACED;
            }
        }
    }
}